body {
  margin: 0;
  background-color:rgb(206, 206, 206);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 2rem;
  
}

.jumbotron {
  text-align: center;
}

.nav {
  display: flex;
  justify-content: center;
  background-color:rgb(25, 31, 82);
}

.nav a {
  color: ghostwhite;
  text-decoration: none;
}

.card{
  display: grid;
  width: 400px;
  height: 150px;
  background-color: rgb(236, 234, 234);
  box-shadow: 0 0 15px rgb(25, 31, 82);
}


.card-title {
  margin-top: 3%;
  margin-left: 2%;
  font-style: oblique;
  color: rgb(25, 31, 82);
}

.edit-btn {
  margin-left: 89%;
  margin-bottom: 5%;
  color: rgb(25, 31, 82);
}


.form-group {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  font-size: 1rem;
  border-radius: 8px;
}

.form-control-label, .form-group  {
  font-style: italic;
  color: rgb(25, 31, 82);
}

.formlabel, .loginlabel, .accountlabel, .reglabel {
  position: relative;
  right: 25px;
  font-weight: bold;
  font-style: italic;
}

.loginlabel, .accountlabel, .reglabel {
  position:fixed;
  right: 56%;
}


input{
  color: rgb(25, 31, 82);
  border: 2px solid rgb(25, 31, 82);
  border-radius: 6px;
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  width: 220px;
  text-align: center;
}

.add-btn, .update-user-btn, .login-user-btn, .reg-user-btn {
  background-color: rgb(25, 31, 82);
  color: ghostwhite;
  border: 2px solid white;
  border-radius: 12px;
  font-size: 1.2rem;
  font-style: italic;
  width: 120px;
}


.add-btn {
  position:relative;
  left: 220%;
  bottom: 395%;
}

.delete-btn {
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 90px;
  height: 34px;
  background-color: red;
  color: ghostwhite;
  position: fixed;
  top: 33%;
  right: 42%;
  border: none;
}

.btn {
  width: 90px;
  position: fixed;
  top: 33%;
  left: 42%;
  background-color: rgb(25, 31, 82);
  color: ghostwhite;
  font-size: 1rem;
  border-radius: 6px;
  font-size: 1rem;
}

.login-user-btn {
  position:relative;
  left: 230px;
  bottom: 100px;
}

.reg-user-btn {
  position: relative;
  left: 240px;
  bottom: 155px;
}

.update-user-btn {
  position: relative;
  left: 220px;
  bottom: 100px;
}


