{% extends "base.html" %}
{% block content %}

    <form method="POST" action="" enctype="multipart/form-data">
        <div class="form-group">
            {{form.hidden_tag()}}
        </div>
        <div class="form-group">
            <div class="accountlabel">{{form.username.label}}:</div>
            {{form.username}}
        </div>
        <div class="form-group">
            <div class="accountlabel">{{form.email.label}}:</div>
            {{form.email}}
        </div>
    
        <div class="form-group">
            {{form.submit(class='update-user-btn')}}
        </div>
    </form>

{% endblock %}