{% extends "base.html" %}
{% block content %}
      <form method="POST">
          <div class="form-group">
            {{form.hidden_tag()}}
          </div>

          <div class="form-group">
              <div class="formlabel">{{form.company.label}}:</div>
              {{form.company}}
          </div>
          <div class="form-group">
            <div class="formlabel">{{form.user_name.label}}:</div>
            {{form.user_name}}
          </div>
          <div class="form-group">
            <div class="formlabel">{{form.pword.label}}:</div>
            {{form.pword}}
          </div>
          <div class="form-group">
            {{form.submit(class="add-btn")}}
          </div>
      </form>
{% endblock %}