{% extends "base.html" %}
{% block content %}
    {% if current_user.is_authenticated %}
    <div class="container">
        {% for post in password_posts.items %}
            <div class="card">
                    <div>
                        <p class="card-title" >Company: {{post.company}}</p>
                        <p class="card-title" >Username: {{post.user_name}}</p>
                        <p class="card-title" >Password: {{post.pword}}</p>
                        <a class="edit-btn" href="{{url_for('password_posts.password_post', password_post_id=post.id)}}">Edit</a>
                    </div>
            </div>
        {% endfor %}
        {% endif %}
    </div>
{% endblock %}