{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <h1>Password Vault</h1>
    </div>
    {% if current_user.is_authenticated %}
    <div class="container">
        {% for post in password_posts.items %}
            <div class="card">
                <div class="car-boy">
                    <h2>
                        <a class="card-title" href="{{url_for('password_posts.password_post', password_post_id=post.id)}}">{{post.company}}</a>
                    </h2>
                    <a class="btn btn-primary" href="{{url_for('password_posts.password_post', password_post_id=post.id)}}">Get Password</a>
                </div>
            </div>
        {% endfor %}
        {% endif %}
    </div>
{% endblock %}