{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h3>Company: {{ post.company }}</h3>
  <h3>Username: {{post.user_name}}</h3>
  <h3>Password: {{post.pword}}</h3>
   {% if post.author == current_user %}
     <div>
       <a class="btn btn-secondary" href="{{ url_for('password_posts.update', password_post_id=post.id) }}">Update</a>
       <br>
       <form action="{{ url_for('password_posts.delete_post', password_post_id=post.id) }}" method="POST">
        <input class="btn btn-danger" type="submit" value="Delete">
      </form>
     </div>
   {% endif %}
</div>
{% endblock content %}