{% extends "base.html" %}
{% block content %}

<div classs="password-container">
<div class="card">
  <p class="card-title" ><strong>Company</strong>: {{post.company}}</p>
  <p class="card-title" ><strong>Username</strong>: {{post.user_name}}</p>
  <p class="card-title" ><strong>Password</strong>: {{post.pword}}</p>
</div>
{% if post.author == current_user %}
<div>
  <a class="btn btn-primary btn-sm" href="{{ url_for('password_posts.update', password_post_id=post.id) }}">Update</a>
  <form action="{{ url_for('password_posts.delete_post', password_post_id=post.id) }}" method="POST">
    <input class="delete-btn" type="submit" value="Delete">
  </form>
</div>
{% endif %}

{% endblock content %}