{% extends "base.html" %}
{% block content %}
<form method="POST">
    <div class="form-group">
        {{form.hidden_tag()}}
    </div>
    <div class="form-group">
        {{form.email.label}}
        {{form.email}}
    </div>
    <div class="form-group">
        {{form.username.label}}
        {{form.username}}
    </div>
    <div class="form-group">
        {{form.password.label}}
        {{form.password}}
    </div>
    <div class="form-group">
        {{form.pass_confirm.label}}
        {{form.pass_confirm}}
    </div>
    <div class="form-group">
        {{form.submit(class='register-user-btn')}}
    </div>
</form>

{% endblock %}