{% extends "base.html" %}
{% block content %}
<form method="POST">
    <div class="form-group">
        {{form.hidden_tag()}}
    </div>
    <div class="form-group">
        <div class="reglabel">{{form.email.label}}</div>
        {{form.email}}
    </div>
    <div class="form-group">
        <div class="reglabel">{{form.username.label}}</div>
        {{form.username}}
    </div>
    <div class="form-group">
        <div class="reglabel">{{form.password.label}}</div>
        {{form.password}}
    </div>
    <div class="form-group">
        <div class="reglabel">{{form.pass_confirm.label}}</div>
        {{form.pass_confirm}}
    </div>
    <div class="form-group">
        {{form.submit(class='reg-user-btn')}}
    </div>
</form>

{% endblock %}