{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div class="jumbotron">
            <div align="center">
                <h1>Welcome to the page for {{user.username}}</h1>
            </div>
        </div>
     {% for post in password_posts.items %}
    <h2>
    </h2>

    <p class="text-muted">
        Published On: {{post.date.strftime("%y-%m-%d")}}
    </p>
    <br>
    <p>{{post.text}}</p>
    <br>
    {% endfor %}
    </div>

    <nav aria-label="Page Navigation example">
        <ul class="pagination justify-content-center">

            {% for page_num in password_vault.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if password_posts.page == page_num %}
                <li class="page-item disabled">
                </li>
                {% else %}
                <li class="page-item">
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>


{% endblock %}